.container{
    max-width: 1400;
    margin: 0 auto;
}
.description_grid{
    text-align: center;
}
.grid_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 26px;    
}

.grid_text{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 96px;
}
.foto_grid{
   
    display: grid;
    grid-template-columns: repeat(3, 347px);
    grid-template-rows:repeat(3, 207px) ;
    gap: 20px;
}
.img:nth-child(3), .img:nth-child(4){
    grid-row: span 2;
}
.img:nth-child(1){
    background-image: url(../IMG/grid/appale.png);
}
.img:nth-child(2){
    background-image: url(../IMG/grid/bas.png);
}
.img:nth-child(3){
    background-image: url(../IMG/grid/niger.png);
}
.img:nth-child(4){
    background-image: url(../IMG/grid/hend.png);
}
.img:nth-child(5){
    background-image: url(../IMG/grid/smart.png);
}
.img:nth-child(6){
    background-image: url(../IMG/grid/childe.png);
}

.img:nth-child(7){
    background-image: url(../IMG/grid/dog.png);
}

.picture_text{
    text-align: center;
    background-color: rgba(0, 161, 198, .2);
}

.p_titel_6{
    padding-top: 80px;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 27px;
}

.p_title_1{
    font-size: 56px;
    line-height: 56px;   
    letter-spacing: -0.5px;         
}
.P_text{
    font-size: 24px;
    line-height: 34px;
}
.button_p{
    display: inline;
    width: 328px;
    height: 48px;
    margin-top: 34px;
    margin-bottom: 50px;
   
}

.button_fiolent{
    background-color: rgba(48, 64, 196, 1);
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF; 
    margin-right: 0px;
}
.button_wight{
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

   


.ikon{
    display: inline-block;
    width: 262px;
    height: 300px;
    border: 1px solid black;
}
.dev{
    background-color: white;
    background-image: url(../IMG/ouch.png);

}
.tv{
    background-color: 3141C5;
    background-image: url(../IMG/ouch.png);
}